<div class="mb-2">
    <div class="d-flex">
        <div style="min-width:50px;">
            <span class="align-middle">{{# str }}sortorder, block_course_overview{{/ str }}</span>
        </div>
        {{{ select }}}
    </div>
    <div class="d-flex">
        <div style="min-width:50px;">
            <span class="align-middle">{{# str }}usersetmaxcourses, block_course_overview{{/ str }}</span> 
        </div>
        {{{ selectmaxcourses }}}
    </div>
</div>