{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_overview/main

    This template renders the main content area for the course_overview block

    Example context (json):
    {}
}}
<div id="block-course-overview-{{uniqid}}" class="block-course-overview" data-region="course-overview">

    {{# isediting }}
        {{> block_course_overview/main_layoutsettings }}
    {{/ isediting }}

    <div class="overview-help float-right pull-right">{{{ help }}}</div>

    <ul id="block-course-overview-view-choices-{{ uniqid }}" class="nav nav-tabs" role="tablist">
        <li class="nav-item {{# viewingfavourites }}active{{/ viewingfavourites }}">
            <a class="nav-link {{# viewingfavourites }}active{{/ viewingfavourites }}" href="#favourites" role="tab" data-toggle="tab" data-tabname="favourites">
                {{# str }}favourites, block_course_overview{{/ str }}
            </a>
        </li>
        <li class="nav-item {{^ viewingfavourites }}active{{/ viewingfavourites }}">
            <a class="nav-link {{^ viewingfavourites }}active{{/ viewingfavourites }}" href="#courses" role="tab" data-toggle="tab" data-tabname="courses">
                {{# str }}courses{{/ str }}
            </a>
        </li>
    </ul>

    <div id="course_overview_tabs" class="tab-content">
        {{# tabs }}
            <div class="tab-pane {{ show }}" id="{{ tab }}" role="tabpanel" style="padding: 0;">
                <div class="course-list container-fluid">
                    <div class="alert alert-warning mt-3 no-courses">
                        {{# str }}nocourses, block_course_overview{{/ str }}
                    </div>
                    {{# data }}
                        {{> block_course_overview/course }}
                    {{/ data }}
                </div>
                {{# showmorecourses }}
                    {{> block_course_overview/main_pagebar }}
                {{/ showmorecourses }}
            </div>
        {{/ tabs }}
    </div>
    
</div>

{{# js }}
    require(['block_course_overview/CourseOverview'], function(main) {
        main.init('{{{showdetail}}}', '{{{hidedetail}}}');
    });
{{/ js }}

{{# isediting }}
    {{# js }}
        require(['jquery', 'block_course_overview/edit'], function($, Edit) {
            Edit.init();
        });
    {{/ js }}
{{/ isediting }}