<div class="d-flex flex-wrap mb-2">
    <div class="mb-2 mr-2">
        <span class="align-middle">{{# str }}sortorder, block_course_overview{{/ str }}</span>
        {{{ select }}}
    </div>
    <div>
        <span class="align-middle">{{# str }}usersetmaxcourses, block_course_overview{{/ str }}</span> 
        {{{ selectmaxcourses }}}
    </div>
</div>